// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

/* light */
$base-menu-color: #f5f7fa;
$base-menu-color-active: #fff;
$base-menu-background: #0d7ada;
$base-logo-title-color: #fff;
$base-sub-menu-background-light: #1a68d6;
$base-sub-menu-hover-light: #078bfc;

/* dark */

$base-dark-menu-color: #e6e8eb;
$base-dark-menu-background: #161d24;
$base-sub-menu-background-dark: #111b2b;
$base-sub-menu-hover-dark: #122638;

$--color-primary: #409eff;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

$base-sidebar-width: 240px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuBackground: $base-menu-background;
  menuColorDark: $base-dark-menu-color;
  menuBackgroundDark: $base-dark-menu-background;
  menuColorActive: $base-menu-color-active;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  primaryColor: $--color-primary;
  successColor: $--color-success;
  dangerColor: $--color-danger;
  infoColor: $--color-info;
  warningColor: $--color-warning;
}
